In [2]:
import pandas as pd
testingData=pd.read_csv("./2.TestingData/Data542_finaldata_final.csv")

In [3]:
testingData.head()

,Unnamed: 0,index,appTitle,userName,date,score,text,category,appTitle_lower,text_org,contentRating,Review Length,month
0,0,2,Photomath,NaN,"March 8, 2019",5,Great App Detailed answers Understandable answers,EDUCATION,photomath,Great App. Detailed answers. Understandable an...,Everyone,49,3
1,1,6,Photomath,אוביידו אדריאנה,"March 8, 2019",5,Great tool for learning math I love it,EDUCATION,photomath,"Great tool for learning math, I love it!",Everyone,38,3
2,2,9,Photomath,Kaleb Wallis,"March 8, 2019",5,great if your in school or have homework,EDUCATION,photomath,great if your in school or have homework,Everyone,40,3
3,3,10,Photomath,juana,"March 8, 2019",4,It is working amazing for me Now i love to fin...,EDUCATION,photomath,It is working amazing for me!!! Now i love to ...,Everyone,159,3
4,4,11,Photomath,Duje Basic,"March 8, 2019",5,really great and you have all the explanations...,EDUCATION,photomath,really great and you have all the explanations...,Everyone,72,3

In [5]:
sample=testingData.sample(n=300, random_state=1)

In [9]:
sample.to_csv("Testing300Sample.csv")

In [10]:
sample2=testingData.sample(n=400, random_state=1)

In [12]:
sample2.to_csv("Testing400Sample.csv")