In [6]:
import re
import pandas as pd
sms = pd.read_csv('spam.csv',encoding='ISO-8859-1');
sms.head()
#nltk.download('stopwords')
#nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords 

#Preprocessing the data: Remove none alphabetic characters/Make the word lower case/Remove the stop words

def mutlti_func(x):       
    WT_sms= word_tokenize(str(re.sub('[^A-Za-z]', ' ', x)).lower())
    for word in WT_sms:
        if word in stopwords.words('english'):
            WT_sms.remove(word)
    return WT_sms


sms['v2']=sms['v2'].apply(mutlti_func)
sms.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"[go, jurong, point, crazy, available, in, bugi...",NaN,NaN,NaN
1,ham,"[ok, lar, joking, wif, u, oni]",NaN,NaN,NaN
2,spam,"[free, entry, a, wkly, comp, win, fa, cup, fin...",NaN,NaN,NaN
3,ham,"[u, dun, say, early, hor, u, c, already, say]",NaN,NaN,NaN
4,ham,"[nah, don, think, goes, usf, lives, around, th...",NaN,NaN,NaN

In [7]:
from nltk.stem.porter import PorterStemmer
from spellchecker import SpellChecker


# Stemming / Spelling 
spell = SpellChecker()
stemmer = PorterStemmer()

def stem_spell_fuc(x):
    for i in range(len(x)):
        #x[i] = stemmer.stem(spell.correction(x[i]))
        x[i] = stemmer.stem(x[i])
    return x

sms['v2']=sms['v2'].apply(stem_spell_fuc)
sms.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"[go, jurong, point, crazi, avail, in, bugi, n,...",NaN,NaN,NaN
1,ham,"[ok, lar, joke, wif, u, oni]",NaN,NaN,NaN
2,spam,"[free, entri, a, wkli, comp, win, fa, cup, fin...",NaN,NaN,NaN
3,ham,"[u, dun, say, earli, hor, u, c, alreadi, say]",NaN,NaN,NaN
4,ham,"[nah, don, think, goe, usf, live, around, though]",NaN,NaN,NaN

In [16]:
def join_fuc(x):
    x = " ".join(x)
    return x

sms.columns=["v1","v2","v3","v4","v5"]
sms['v3']=sms['v2'].apply(join_fuc)
sms.head()

,v1,v2,v3,v4,v5
0,ham,"[go, jurong, point, crazi, avail, in, bugi, n,...",go jurong point crazi avail in bugi n great wo...,NaN,NaN
1,ham,"[ok, lar, joke, wif, u, oni]",ok lar joke wif u oni,NaN,NaN
2,spam,"[free, entri, a, wkli, comp, win, fa, cup, fin...",free entri a wkli comp win fa cup final tkt st...,NaN,NaN
3,ham,"[u, dun, say, earli, hor, u, c, alreadi, say]",u dun say earli hor u c alreadi say,NaN,NaN
4,ham,"[nah, don, think, goe, usf, live, around, though]",nah don think goe usf live around though,NaN,NaN

In [45]:
def joincomm(x):
    temp2=re.sub(" ",",",x)
    return temp2
sms['v4']=sms['v3'].apply(joincomm)
sms.head()

,v1,v2,v3,v4,v5
0,ham,"[go, jurong, point, crazi, avail, in, bugi, n,...",go jurong point crazi avail in bugi n great wo...,"go,jurong,point,crazi,avail,in,bugi,n,great,wo...",NaN
1,ham,"[ok, lar, joke, wif, u, oni]",ok lar joke wif u oni,"ok,lar,joke,wif,u,oni",NaN
2,spam,"[free, entri, a, wkli, comp, win, fa, cup, fin...",free entri a wkli comp win fa cup final tkt st...,"free,entri,a,wkli,comp,win,fa,cup,final,tkt,st...",NaN
3,ham,"[u, dun, say, earli, hor, u, c, alreadi, say]",u dun say earli hor u c alreadi say,"u,dun,say,earli,hor,u,c,alreadi,say",NaN
4,ham,"[nah, don, think, goe, usf, live, around, though]",nah don think goe usf live around though,"nah,don,think,goe,usf,live,around,though",NaN

In [61]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(token_pattern=u'(?u)\\b\\w+\\b')
vect = CountVectorizer(token_pattern=u'(?u)\\b\\w+\\b')
result=vect.fit_transform(sms['v3']).toarray()

result

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [66]:
 corpus = [
'besides occasional crash, amazing product tons potential depending work it!',
'This is the second second document.',
'And the third one.',
'Is this the first document?',
]
X = vect.fit_transform(corpus).toarray()
X

array([[1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 2, 1, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]],
      dtype=int64)

In [68]:
corpus.append("all my love to you is what you need now")

In [70]:
corpus
X = vect.fit_transform(corpus).toarray()
X

array([[0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
        0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 1,
        0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
        0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 2]], dtype=int64)